@page "/Account/AccessDenied"
@using FlightScanner.Features.Localization

<PageTitle>@UiText.T("AccessDenied")</PageTitle>

<header>
    <h1 class="text-danger">@UiText.T("AccessDenied")</h1>
    <p class="text-danger">@UiText.T("AccessDeniedText")</p>
</header>
