@page "/Account/ForgotPasswordConfirmation"
@using FlightScanner.Features.Localization

<PageTitle>@UiText.T("ForgotPasswordConfirmation")</PageTitle>

<h1>@UiText.T("ForgotPasswordConfirmation")</h1>
<p role="alert">
    @UiText.T("CheckEmailResetPassword")
</p>
